.loginsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginsignup-container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.loginsignup-container h1 {
    text-align: center;
    color: #333;
}

.loginsignup-fields input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.loginsignup-container button {
    width: 100%;
    padding: 15px;
    background-color: #ff4141;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginsignup-container button:hover {
    background-color: #f80505;
}

.loginsignup-login {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #ff4141;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-agree input {
    margin-right: 10px;
}

.loginsignup-agree p {
    margin: 0;
    color: #555;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-agree p a {
    color: #ff4141;
    text-decoration: none;
}

.loginsignup-agree p a:hover {
    text-decoration: underline;
}
